.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.201);
  background-color: #fff;
  z-index: 1050;
  transition: margin-left 0.3s ease;
}

/* On desktop, push navbar to the right of the sidebar */
@media (min-width: 768px) {
  .navbar {
    margin-left: 250px; /* same as sidebar width */
    width: calc(100% - 250px);
  }
}

/* On mobile, navbar is full width */
@media (max-width: 767px) {
  .navbar {
    margin-left: 0;
    width: 100%;
    
  }
}
